@model List<Website.Files.CSVDto>

<h1>Index CSV FIle</h1>

@if (Model.Count() == 0)
{
    <p>No CSV data available.</p>
}
else
{
    <form id="uploadForm" method="post" enctype="multipart/form-data" >
        <div class="form-group">
            <label for="csvFile">Upload CSV File:</label>
            <input type="file" name="csvFile" class="form-control-file" id="csvFile">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
        <a id="btnOpen" name="btnOpen" class="btn btn-primary">Open</a>
    </form>

    <div class="progress" style="display: none">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            0%
        </div>
    </div>
    <div id="lblMessage" style="color: Green"></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m[0].Name)</th>
                <th>@Html.DisplayNameFor(m => m[0].TypeFile)</th>
                @*<th>@Html.DisplayNameFor(m => m[0].Content)</th>
                <th>@Html.DisplayNameFor(m => m[0].Header)</th>*@
                <!-- Add more table headers for additional columns as needed -->
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name </td>
                    <td>@item.TypeFile</td>
                    @*<td>@item.Content</td>
                    <td>@item.Header</td>*@
                    <!-- Add more table cells for additional columns as needed -->
                    <td>
                        <!-- Add a view button for each item -->
                        <a asp-controller="CSV" asp-action="View" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section Scripts {

    <script type="text/javascript">
        $(function () {
            $('#uploadForm').submit(function (e) {
                e.preventDefault();

                var formData = new FormData(this);

                $.ajax({
                    url: '@Url.Action("UploadCSVFile", "CSV")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = (evt.loaded / evt.total) * 100;
                                $('.progress').show();
                                $('.progress-bar').css('width', percentComplete + '%').text(percentComplete.toFixed(2) + '%');
                            }
                        }, false);
                        return xhr;
                    },
                    success: function (data) {
                        if (data.success) {
                            $('#lblMessage').html("<b>" + data.name + "</b> has been uploaded.");
                            location.reload();
                        } else {
                            // Handle failure response
                            alert("Error occurred while uploading the file.");
                        }
                        $('.progress').hide();
                        $('.progress-bar').css('width', '0%').text('0%');
                    },
                    error: function () {
                        alert("Error occurred while uploading the file.");
                        $('.progress').hide();
                        $('.progress-bar').css('width', '0%').text('0%');
                    }
                });
            });
        });



        $('#btnOpen').click(function (e) {
            if (window.FormData !== undefined) {
                var files = $("#csvFile")[0].files;
                var formData = new FormData();
                formData.append("file", files[0]);
                $.ajax({
                    url: '@Url.Action("Open", "CSV")',
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.success) {
                            // Redirect to the "Open" action with the CSVDto object
                            window.location.href = '@Url.Action("ViewByFileId", "CSV")' + "/" + data.fileName;
                        } else {
                            alert("Error occurred while opening the file.");
                        }
                    },
                    error: function () {
                        alert("Error occurred while opening the file.");
                    }
                });

            }
            else {
                alert("FormData is not supported.");
            }
        });
    </script>
}